# import

In [43]:
# Global
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import string 
import seaborn as sns
from sklearn.metrics import f1_score, recall_score, accuracy_score, classification_report, confusion_matrix
# Preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
# Models
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

# Load des données

In [37]:
data_prepro= pd.read_csv(r'C:\Users\loulo\OneDrive\Bureau\cours\INF8245E\competi\code\prepro.csv', na_values=['Insert Band Name', 'Insert Band Genre', 'Insert Band Country of Origin'])
data_train = pd.read_csv(r'C:\Users\loulo\OneDrive\Bureau\cours\INF8245E\competi\train.csv', na_values=['Insert Band Name', 'Insert Band Genre', 'Insert Band Country of Origin'])
data_test = pd.read_csv(r'C:\Users\loulo\OneDrive\Bureau\cours\INF8245E\competi\test.csv', na_values=['Insert Band Name', 'Insert Band Genre', 'Insert Band Country of Origin'])

#data_train
X_train = data_prepro.iloc[:170000]
y_train = data_train['Concert Enjoyment']
X_test = data_prepro.iloc[170000:]
#X_train

In [38]:
X_train.drop(columns=['Unnamed: 0', 'Seated', 'Concert Goer ID'], inplace=True)
X_test.drop(columns=['Unnamed: 0', 'Seated','Concert Goer ID'], inplace=True)
X_test

C:\Users\loulo\AppData\Local\Temp\ipykernel_27624\2040429857.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train.drop(columns=['Unnamed: 0', 'Seated', 'Concert Goer ID'], inplace=True)
C:\Users\loulo\AppData\Local\Temp\ipykernel_27624\2040429857.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test.drop(columns=['Unnamed: 0', 'Seated','Concert Goer ID'], inplace=True)

,Band Name,Band Genre,Band Country of Origin,Band Debut,Concert ID,Concert Attendance,Inside Venue,Rain,Personnality Trait 1,Personnality Trait 2,Personnality Trait 3,Personnality Trait 4,Concert Goer Age,Height (cm),Concert Goer Country of Origin
170000,45,6,144,1980.0,350.0,2980.0,True,False,1.065107,0.057660,0.249639,-0.933976,74.0,165.0,144
170001,23,2,144,2014.0,173.0,8103.0,True,True,-0.886947,0.801365,0.525624,0.176655,29.0,151.0,66
170002,30,6,24,2010.0,912.0,2980.0,True,True,0.744700,-0.797531,-0.034166,-0.226052,27.0,146.0,24
170003,17,7,24,2014.0,532.0,22026.0,True,False,-0.134180,-0.361512,0.969404,-2.341205,38.0,183.0,144
170004,14,5,144,1992.0,636.0,2980.0,False,False,1.407366,-0.084155,-0.673233,1.733714,21.0,177.0,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,24,2,144,1979.0,411.0,2980.0,True,False,-0.421714,-1.549670,-0.351770,0.132489,42.0,178.0,144
199996,4,2,144,1978.0,135.0,8103.0,True,False,0.615087,-0.047092,0.339228,0.820159,37.0,186.0,24
199997,12,4,144,1995.0,987.0,8103.0,False,False,-1.396551,-0.508627,-1.692584,1.640931,45.0,158.0,51
199998,28,5,144,1968.0,830.0,8103.0,False,True,0.168073,-0.785460,0.898273,1.608389,36.0,170.0,143
199999,8,1,144,1995.0,120.0,54.0,False,True,-0.248370,-0.809340,0.085226,-0.133507,47.0,189.0,24

# Processing

In [46]:
clf = RandomForestClassifier(min_samples_leaf=10 ,n_estimators= 60, max_features='log2' , max_depth=100, random_state=0, n_jobs=-1)
clf.fit(X_train,y_train)

RandomForestClassifier(max_depth=100, max_features='log2', min_samples_leaf=10,
                       n_estimators=60, n_jobs=-1, random_state=0)

# Compute results

In [47]:
y_pred = clf.predict(X_test)

# Export

In [48]:
submission = pd.DataFrame(data_test['Id'].copy())
submission['Predicted'] = y_pred
print(submission)
from pathlib import Path  
filepath = Path('./out_5.csv')  
submission.to_csv(filepath, index=False)

                             Id          Predicted
0       ConcertExperience_70055  Best Concert Ever
1       ConcertExperience_34799            Enjoyed
2      ConcertExperience_100410            Enjoyed
3      ConcertExperience_106446      Did Not Enjoy
4      ConcertExperience_127249      Did Not Enjoy
...                         ...                ...
29995   ConcertExperience_82288      Did Not Enjoy
29996   ConcertExperience_27139      Did Not Enjoy
29997  ConcertExperience_197434            Enjoyed
29998  ConcertExperience_166029      Did Not Enjoy
29999   ConcertExperience_24025      Did Not Enjoy

[30000 rows x 2 columns]

In [49]:
sub_max= pd.read_csv('out-6.csv')
sub_max

                             Id          Predicted
0       ConcertExperience_70055  Best Concert Ever
1       ConcertExperience_34799            Enjoyed
2      ConcertExperience_100410            Enjoyed
3      ConcertExperience_106446      Did Not Enjoy
4      ConcertExperience_127249      Did Not Enjoy
...                         ...                ...
29995   ConcertExperience_82288      Did Not Enjoy
29996   ConcertExperience_27139      Did Not Enjoy
29997  ConcertExperience_197434            Enjoyed
29998  ConcertExperience_166029      Did Not Enjoy
29999   ConcertExperience_24025      Did Not Enjoy

[30000 rows x 2 columns]

In [50]:
sub_max.iloc[0,1]

'Best Concert Ever'

In [51]:
somme=0

for k in range (len(submission)):
    if submission.iloc[k,1]==sub_max.iloc[k,1]:
        somme+=1

In [52]:
print(somme)

27256